@import "tailwindcss";

@theme {
	--color-background: #1e1e2f;
	/* Cor de fundo escura */
	--color-background-secondary: #2a2a3c;
	/* Cor de fundo secundária */
	--color-purple: #9b4dff;
	/* Roxo principal */
	--color-purple-light: #b7a4ff;
	/* Roxo claro */
	--color-text-primary: #ededed;
	/* Texto primário claro */
	--color-text-secondary: #b0b0b0;
	/* Texto secundário */
	--color-purple-hover: #8f4dd7;
	/* Hover de roxo */
	--color-link: #7f5dff;
	/* Links */
	--color-purple-dark: #6c2dc7;
	/* Roxo escuro para botões */
	--color-shadow: rgba(0, 0, 0, 0.5);
	/* Sombras */
	--color-border: #4b2a8b;
	/* Bordas */
}

.title {
	color: var(--color-text-primary);
	font-size: var(--text-2xl);
	line-height: var(--tw-leading, var(--text-2xl--line-height));
	font-weight: var(--font-weight-bold);
	margin-bottom: calc(var(--spacing) * 4);
}
